@charset "UTF-8";
/*  常用样式 */
.dis-none {
  display: none;
}

.dis-block {
  display: block;
}

.dis-inlineblock {
  display: inline-block;
}

.dis-absolute {
  display: absolute;
}

.dis-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dis-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dis-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dis-flex-align {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.dis-flex-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.dis-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.verti-mid {
  vertical-align: middle;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr {
  position: relative;
}

.pf {
  position: fixed;
}

.oh {
  overflow: hidden;
}

.mt30 {
  margin-top: 1.875rem;
}

.mt20 {
  margin-top: 1.25rem;
}

.mt12 {
  margin-top: 12rem;
}

.ml20 {
  margin-left: 1.25rem;
}

.mb20 {
  margin-bottom: 1.25rem;
}

.pl60 {
  padding-left: 3.75rem;
}

.plf4 {
  padding-left: 4%;
  padding-right: 4%;
}

.pr4 {
  padding-right: 4%;
}

.pl4 {
  padding-left: 4%;
}

/*  内容区域样式 */
.wrap {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.top-fixed {
  width: 100%;
  max-width: 750px;
  left: 50%;
  margin-left: -50%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #FCFCFC;
}

.clB7B7B7 {
  color: #B7B7B7;
}

.border-bt {
  border-bottom: 1px solid #EBEBEB;
}

/*  首页1.1-index.jade */
.top-column {
  padding: 1rem 0;
  height: 5.5rem;
  box-sizing: border-box;
}
.search {
  position: relative;
  width: 73.3333333333333%;
}

.search-input {
  width: 100%;
  border: 1px solid #EBEBEB;
  background-color: #fff;
  color: #2E2E2E;
  font-size: 1.875rem;
  line-height: 0.6em;
  padding: 0.625rem;
  padding-left: 4.375rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.search-input:focus {
  border-color: #9A98E0;
}

.position-search {
  position: absolute;
  top: 0.75rem;
  left: 1.875rem;
}

.message {
  width: 2.5rem;
}

.info-menu {
  background-color: #fff;
  overflow: auto;
  height: 5.25rem;
  white-space: nowrap;
  text-align: left;
  width: 100%;
}
.info-menu a, .info-menu i {
  display: inline-block;
  margin: 1.5625rem 0 0;
  color: #A6A6A6;
  font-size: 1.875rem;
  line-height: 2.633333333333333rem;
  font-style: normal;
  text-decoration: none;
  padding: 0  2.1875rem 0.9rem 2.1875rem;
}
.info-menu a.active, .info-menu a:hover, .info-menu i.active, .info-menu i:hover {
  border-bottom: 0.166666666666667rem solid #9A98E0;
  color: #9A98E0;
}

.banner {
  padding-top: 10.75rem;
  width: 100%;
}

.banner-swiper {
  height: 100%;
}

.banner-img {
  width: 100%;
  display: block;
}

.column-min {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 4%;
}

.more-arrow {
  color: #B7B7B7;
}

.shoes-title {
  font-size: 2.125rem;
  color: #000;
  font-weight: normal;
  padding: 1.5625rem 0;
}

.more-info {
  color: #868686;
  font-size: 2rem;
}
.more-info i {
  color: #B7B7B7;
  font-size: 1.8rem;
}

.list-column {
  width: 100%;
}

.list-detail {
  width: 28.9855072463768%;
}

.shoes-img {
  width: 100%;
  display: block;
  margin-bottom: 1.25rem;
}

.shoes-name a {
  display: block;
  text-decoration: none;
  color: #868686;
  font-size: 1.375rem;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.shoes-name a:hover {
  color: #9A98E0;
}

.shoes-price {
  color: #2E2E2E;
  font-size: 1.625rem;
  font-weight: bold;
  padding-bottom: 1.875rem;
}
.shoes-price span {
  color: #B7B7B7;
  font-weight: normal;
  font-size: 1.25rem;
  text-decoration: line-through;
  padding-left: .9rem;
}

.nav-space {
  height: 1px;
  padding-bottom: 6.125rem;
}

.nav {
  width: 100%;
  max-width: 750px;
  height: 6.125rem;
  background-color: #FCFCFC;
  border-top: 1px solid #EBEBEB;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  z-index: 100;
}

.nav-list {
  text-align: center;
}
.nav-list a {
  display: inline-block;
  color: #868686;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav-list .nav-icon {
  width: 3rem;
  height: 3rem;
  background-size: 96%;
  margin: 0 auto;
}
.nav-list:hover span, .nav-list .icon-nav-on span {
  color: #9A98E0;
}
.nav-list:hover .icon-home, .nav-list .icon-nav-on .icon-home {
  background-image: url("../img/home-on.svg");
}
.nav-list:hover .icon-shoppingcart, .nav-list .icon-nav-on .icon-shoppingcart {
  background-image: url("../img/shoppingcart-on.svg");
}
.nav-list:hover .icon-host, .nav-list .icon-nav-on .icon-host {
  background-image: url("../img/host-on.svg");
}

.icon-home {
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
}

.icon-sever {
  background-image: url("../img/sever.svg");
  background-repeat: no-repeat;
}

.icon-shoppingcart {
  background-image: url("../img/shoppingcart.svg");
  background-repeat: no-repeat;
}

.icon-host {
  background-image: url("../img/host.svg");
  background-repeat: no-repeat;
}

/*  商品详情 1.1.2-shops-detail.jade */
.back-top {
  background-color: #FCFCFC;
  padding: 1.25rem 4%;
  height: 5.5rem;
  box-sizing: border-box;
}

.back-txt {
  color: #868686;
  font-size: 2rem;
}

.share-icon {
  width: 2.5rem;
}

.back-arrow {
  font-size: 1.8rem;
  -ms-transform: rotate(-180deg);
  /* IE 9 */
  -moz-transform: rotate(7deg);
  /* Firefox */
  -webkit-transform: rotate(7deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(7deg);
  /* Opera */
  transform: rotate(-180deg);
}

.host-title {
  color: #2E2E2E;
  font-size: 2.25rem;
}

.title-space {
  height: 1px;
  padding-top: 5.5rem;
}

.shop-con {
  background-color: #fff;
  border-bottom: 1px solid #EBEBEB;
}

.shop-detail {
  width: 100%;
  display: block;
}

.shop-name {
  font-size: 2.125rem;
  line-height: 3rem;
  text-align: left;
  padding: 1.25rem 0;
}

.shop-price {
  font-size: 3rem;
  color: #9A98E0;
}
.shop-price span {
  font-size: 1.875rem;
  color: #B7B7B7;
  padding-left: 1.25rem;
  text-decoration: line-through;
}

.specification {
  background-color: #fff;
  color: #000;
  font-size: 2.125rem;
  height: 6.25rem;
  padding-left: 4%;
  padding-right: 4%;
}

.img-detail {
  border-top: 1px solid #EBEBEB;
  background-color: #fff;
  color: #585858;
  font-size: 1.875rem;
  text-align: center;
  padding: 2.5rem 0;
}

.add-cart {
  background-color: #9A98E0;
  color: #fff;
  font-size: 2.25rem;
  height: 6.25rem;
  width: 22.5rem;
  text-align: center;
  padding-top: 1.625rem;
  box-sizing: border-box;
}

/*  生成订单 1.1.3-shops-orders.jade */
.address {
  box-sizing: border-box;
  padding: 1.875rem 4%;
  border-top: #EBEBEB solid 1px;
  border-bottom: 1px solid #EBEBEB;
  background-color: #fff;
}

.customer {
  color: #2E2E2E;
  font-size: 1.875rem;
}
.customer span {
  display: inline-block;
  margin-right: 2.25rem;
  vertical-align: middle;
}
.customer .tag-mr {
  color: #fff;
  font-size: 1.25rem;
  background-color: #9A98E0;
  padding: 0.25rem 0.6rem;
  border-radius: 0.125rem;
}

.send-address {
  color: #868686;
  font-size: 1.625rem;
  line-height: 1.423076923076923em;
  padding-top: 0.6rem;
}

.order-title {
  background-color: #FEFEFE;
  color: #2E2E2E;
  font-size: 1.625rem;
  line-height: 5rem;
  border-top: #EBEBEB solid 1px;
  border-bottom: 1px solid #EBEBEB;
}

.order-list, .my-order {
  background-color: #fff;
  color: #2E2E2E;
  font-size: 1.625rem;
}

.order-li {
  padding: 1.875rem 0;
}

.order-img {
  width: 7.5rem;
  display: inline-block;
}

.order-info {
  display: inline-block;
  width: 21.875rem;
  padding-left: 1.25rem;
}
.order-info h4, .order-info .store-name {
  width: 100%;
  height: 4.625rem;
  line-height: 2.25rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
  font-weight: normal;
}
.order-info span {
  color: #868686;
  font-size: 1.5rem;
  padding-top: 0.9rem;
}

.a-price {
  font-size: 1.75rem;
}

.o-price {
  font-size: 1.75rem;
  color: #868686;
  text-decoration: line-through;
}

.amount {
  color: #868686;
}

.order-item {
  background-color: #fff;
  color: #000000;
  font-size: 2.125rem;
}
.order-item li {
  line-height: 6.25rem;
}

.item-info {
  color: #868686;
  font-size: 2rem;
}

.leave-msg {
  background-color: #fff;
  height: 6.25rem;
}

.lb-msg {
  color: #000000;
  font-size: 2.125rem;
  line-height: 6.25rem;
  vertical-align: middle;
}

.customer-msg {
  color: #868686;
  line-height: 3.75rem;
  padding: 0.5rem 0.75rem;
  border: none;
  font-size: 2.125rem;
  vertical-align: middle;
}

.amout-order {
  color: #2E2E2E;
  font-size: 1.875rem;
}
.amout-order span {
  color: #9A98E0;
  font-size: 2.25rem;
  font-weight: bold;
}

/*  支付订单 1.1.4-pay-orders.jade */
.pay-top {
  width: 100%;
  background: url(../img/pay-bg.png);
  color: #fff;
}

div.transparent-bg {
  background-color: transparent;
}

.transparent-bg .back-txt {
  color: #fff;
}

.transparent-bg .host-title {
  color: #fff;
  flex-grow: 1;
}

.tt-1 {
  color: #fff;
  opacity: 0.6;
  font-size: 1.875rem;
}

.tt-2 {
  font-size: 3rem;
  color: #fff;
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
}
.tt-2 span {
  font-size: 5rem;
}

.tt-3 {
  color: #fff;
  opacity: 0.6;
  font-size: 1.625rem;
  padding-bottom: 2.6875rem;
}

.flex-grow {
  flex-grow: 0.2;
}

.pay-check {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #9A98E0;
  border-radius: 50%;
}

.check-icon {
  color: #fff;
}

.wct-img {
  width: 2.5rem;
  padding-right: 1.25rem;
  vertical-align: middle;
}

div.confirm-pay, .btn-login {
  background-color: #9A98E0;
  color: #fff;
  font-size: 2.25rem;
  text-align: center;
  line-height: 6.125rem;
}

/*  订单支付成功 1.1.5-pay-success.jade */
.tt-title {
  color: #2E2E2E;
  font-size: 2.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #FCFCFC;
  text-align: center;
}

.check-wrap {
  background-color: #fff;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  text-align: center;
}

.big-check {
  display: inline-block;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #9A98E0;
  border-radius: 50%;
}

.txt-1 {
  color: #2E2E2E;
  font-size: 2.25rem;
  padding-top: 1.875rem;
}

.pay-over {
  width: 92%;
  margin: 3.75rem auto 0;
  border-radius: 0.4rem;
}

a.order-details {
  display: block;
  font-size: 2.25rem;
  height: 6.125rem;
  text-decoration: none;
  background-color: #fff;
  color: #585858;
  margin: 2.5rem auto 0;
  text-align: center;
  line-height: 6.125rem;
  border: 2px solid #EBEBEB;
}

/*  活动 1.2.1-activity.jade */
.column-two {
  width: 44%;
}

div.shoes-name a {
  font-size: 1.875rem;
}

div.shoes-price a {
  font-size: 2.125rem;
}
div.shoes-price a span {
  font-size: 1.5rem;
}

/*  搜索 1.2.2-search.jade */
.search-page {
  width: 88.4057971014493%;
  position: relative;
}

.cancel {
  color: #868686;
  font-size: 2rem;
}

.tag-history {
  height: auto;
  min-height: 25rem;
  background-color: #fff;
  padding: 0 1.875rem 1.875rem;
  box-sizing: border-box;
}
.tag-history span {
  color: #585858;
  font-size: 1.625rem;
  border-radius: 0.125rem;
  border: 1px solid #EBEBEB;
  background-color: #F9F9F9;
  padding: 0.75rem 1rem;
  display: inline-block;
  margin-top: 1.875rem;
  margin-right: 1.875rem;
}

/*  消息 1.3.1-message.jade */
.store-info {
  margin-left: 1.25rem;
  flex-grow: 1;
}

.store-li li {
  border-bottom: 1px solid #EBEBEB;
  padding: 1.875rem 1.875rem;
  width: 100%;
  box-sizing: border-box;
}

.store-name {
  color: #2E2E2E;
  font-size: 1.875rem;
  font-weight: normal;
  padding-bottom: 1.25rem;
}
.store-name span {
  color: #868686;
  font-size: 1.625rem;
}

.delivery-info {
  color: #868686;
  font-size: 1.75rem;
  width: 100%;
  max-width: 32.9375rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

/*  购物车 2.1-shoppingcart.jade */
.sh-title {
  line-height: 3rem;
}

.shopping-li {
  background-color: #fff;
}
.shopping-li li {
  padding: 4% 1.875rem;
  border-bottom: 1px solid #EBEBEB;
  box-sizing: border-box;
  width: 100%;
}

.check-box {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: inline-block;
  border: 0.125rem solid #EBEBEB;
  background-color: #fff;
  margin-right: 1.25rem;
  vertical-align: middle;
}

div.icon-check-more {
  background-color: #9A98E0;
  color: #fff;
  border: 0.125rem solid #9A98E0;
  text-align: center;
  font-size: 1.7rem;
}

.sh-shops {
  color: #2E2E2E;
  font-size: 1.625rem;
  font-weight: normal;
  width: 27.1875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.sh-img {
  width: 8.75rem;
  display: block;
}

.sh-descr {
  color: #868686;
  font-size: 1.5rem;
}

.sh-amount {
  color: #9A98E0;
  font-size: 2.125rem;
  line-height: 3rem;
}
.sh-amount i {
  font-style: normal;
}

.sh-opera {
  border: 1px solid #EBEBEB;
  height: 3rem;
  width: 12.5rem;
}

.minuse, .plus {
  height: 100%;
  flex-grow: 0.5;
  color: #868686;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.3125rem;
}

.minuse {
  border-right: 1px solid #EBEBEB;
}

.plus {
  border-left: 1px solid #EBEBEB;
}

.number {
  width: 4.6875rem;
  text-align: center;
  color: #585858;
  font-size: 1.875rem;
  border: none;
  background-color: #fff;
}

.minuse:active, .plus:active {
  background-color: #FCFCFC;
}

div.fee-fixed {
  bottom: 6.125rem;
}

.dd-child span, .dd-child button {
  display: inline-block;
  vertical-align: middle;
}

.txt-3 {
  color: #2E2E2E;
  font-size: 1.875rem;
}

.txt-4 {
  color: #B7B7B7;
  font-size: 1.5rem;
}

.txt-5 {
  color: #868686;
  font-size: 1.875rem;
  display: inline-block;
  vertical-align: middle;
}

.fee-amount {
  color: #9A98E0;
  font-size: 2.25rem;
  font-weight: bold;
}

.btn-over {
  height: 100%;
  background-color: #9A98E0;
  color: #fff;
  border: none;
  width: 12.5rem;
  height: 6.125rem;
  font-size: 2.25rem;
}

/*  微信登陆 3.0-login.jade */
.logo-mg {
  margin-top: 10rem;
}

.app-name {
  color: #2E2E2E;
  font-size: 3.75rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.app-info {
  color: #868686;
  font-size: 1.875rem;
  line-height: 2.5rem;
  padding: 0 8%;
  margin-bottom: 7.5rem;
}

.we-chat-login {
  width: 84%;
}

.phone-login {
  color: #7CB0FB;
  font-size: 2rem;
  margin-top: 3.75rem;
  text-decoration: none;
  display: block;
}

.login-tip {
  color: #B7B7B7;
  font-size: 1.5rem;
  position: absolute;
  bottom: 3.75rem;
  width: 100%;
  text-align: center;
}

/*  手机号登陆 3.0-login-phone.jade */
.body-fff {
  background-color: #fff;
}

.wrap-padding {
  width: 100%;
  padding: 0 8%;
  margin: 0 auto;
  box-sizing: border-box;
}

.login-intr {
  color: #868686;
  font-size: 1.875rem;
  margin: 0.75rem 0 3.4375rem;
}

.phone-lg li {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.phone-lg input {
  color: #2E2E2E;
  font-size: 2.125rem;
  line-height: 1.5rem;
  border: none;
}

.get-code {
  color: #92BEFE;
  font-size: 2rem;
}

.btn-login {
  display: block;
  background-color: #9A98E0;
  color: #fff;
  font-size: 2.25rem;
  line-height: 6.5rem;
  text-align: center;
  width: 100%;
  height: 6.5rem;
  border: none;
  margin: 3.75rem auto 0;
  border-radius: 0.4rem;
}

/*  账户 3.1-account.jade */
.acco-bg {
  background: url(../img/account-bg.png) no-repeat;
}

.head {
  display: block;
  margin: 0 auto 1.875rem;
  padding-top: 5.5rem;
  width: 10rem;
}

.acco-name {
  color: #FFFFFF;
  font-size: 2.5rem;
  padding-bottom: 3.875rem;
  width: 100%;
  text-align: center;
}

.acco-li {
  width: 100%;
  background-color: #fff;
}
.acco-li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
}
.acco-li a:hover {
  background-color: #f7f7f7;
}

.acco-icon {
  width: 3rem;
  display: inline-block;
  vertical-align: middle;
}

.list-name {
  display: inline-block;
  vertical-align: middle;
  height: 6.25rem;
  line-height: 6.25rem;
  padding-left: 1.25rem;
  font-size: 2.125rem;
  color: #000;
}

.quit {
  heiht: 6.25rem;
  line-height: 6.25rem;
  background-color: #fff;
  color: #E65761;
  font-size: 2.25rem;
  margin-top: 2.5rem;
  bordr-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  text-align: center;
}

/*  我的订单 3.2.1-my-order.jade */
.order-menu {
  background-color: #fff;
  height: 5.25rem;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
}
.order-menu li {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  line-height: 5rem;
  float: left;
}
.order-menu li a {
  color: #868686;
  font-size: 1.875rem;
  text-decoration: none;
  display: block;
}
.order-menu li a:hover, .order-menu li a.menu-on {
  color: #9A98E0;
  border-bottom: 0.25rem solid #9A98E0;
}

.order-infor {
  height: 5rem;
  border-bottom: 1px solid #EBEBEB;
  box-sizing: border-box;
}

.order-column {
  background-color: #fff;
  width: 100%;
  border-top: #EBEBEB solid 1px;
  border-bottom: 1px solid #EBEBEB;
}

.left-txt img, .left-txt h4 {
  display: inline-block;
  vertical-align: middle;
}
.left-txt img {
  width: 2.125rem;
}
.left-txt h4 {
  color: #2E2E2E;
  font-size: 1.625rem;
  font-weight: normal;
  padding-left: 1.25rem;
  padding-right: 1.875rem;
}

.store-arrow {
  color: #C7C7CC;
  font-size: 1.6rem;
}

.my-order {
  padding: 1.875rem 4%;
  background: #FCFCFC;
}

.txt-2 {
  color: #EF8164;
  font-size: 1.625rem;
}

.btn-gray, .btn-purple {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.625rem;
}

.btn-gray {
  color: #888888;
  border: 0.125rem solid #B7B7B7;
  padding: 0.75rem 1.125rem;
}

.btn-purple {
  color: #9A98E0;
  border: 0.125rem solid #9A98E0;
  padding: 0.75rem 1.125rem;
}

.btn-column {
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 4%;
}

/*  订单详情 3.2.2-order-detail.jade */
.order-detail {
  color: #868686;
  font-size: 1.625rem;
  line-height: 3rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

/*  管理收货地址 3.3.1-shipping-address.jade */
.img-edit {
  width: 2.25rem;
}

/*  新增地址 3.3.2-add-address.jade */
.add-wrap {
  background-color: #fff;
}
.add-wrap li {
  height: auto;
  min-height: 6.25rem;
}
.add-wrap label {
  color: #000000;
  font-size: 2.125rem;
  width: 12.5rem;
}
.add-wrap textarea {
  resize: none;
  border: none;
  height: 10rem;
  padding-top: 1rem;
  font-size: 2.125rem;
  color: #565656;
}
.add-wrap input {
  font-size: 2.125rem;
  color: #565656;
  border: none;
}

.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 6.25rem;
  height: 3.75rem;
  background: grey;
  display: block;
  border-radius: 3.125rem;
  position: relative;
  display: inline-block;
}

.switch-label:after {
  content: '';
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.switch:checked + .switch-label {
  background: #9A98E0;
}

.switch:checked + .switch-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switch-label:active:after {
  width: 130px;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: inline-block;
}

.switch-wrap {
  background-color: #fff;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/*  我的资料 3.3.3-host-infor.jade */
.host-head {
  width: 6.25rem;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.txt-head {
  padding-left: 4%;
}

.head-info {
  background-color: #fff;
  text-decoration: none;
}
.head-info span {
  color: #000000;
  font-size: 2.125rem;
}
.head-info a {
  display: block;
  text-decoration: none;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
}
.head-info a:hover, .head-info a .hover:hover {
  background-color: #fcfcfc;
}
.head-info li {
  height: 6.25rem;
}

.detail-addr {
  padding-top: 1rem;
}

.label-tt {
  color: #000000;
  font-size: 2.125rem;
  width: 12.5rem;
}

/*  适配区域 */
@media only screen and (max-width: 320px) {
  html {
    font-size: 6px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 352px) {
  html {
    font-size: 7px;
  }
}
@media only screen and (min-width: 352px) and (max-width: 384px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (min-width: 384px) and (max-width: 416px) {
  html {
    font-size: 8.5px;
  }
}
@media only screen and (min-width: 416px) and (max-width: 448px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (min-width: 448px) and (max-width: 480px) {
  html {
    font-size: 9.8px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 512px) {
  html {
    font-size: 10.5px;
  }
}
@media only screen and (min-width: 512px) and (max-width: 544px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 544px) and (max-width: 576px) {
  html {
    font-size: 11.6px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 608px) {
  html {
    font-size: 12.6px;
  }
}
@media only screen and (min-width: 608px) and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 687px) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 687px) and (max-width: 750px) {
  html {
    font-size: 15px;
  }
}
@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone4/4s */
}
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone5 or iPod Touch 5th generation*/
}
@media only screen and (min-width: 750px) {
  .top-fixed, .nav {
    margin-left: -375px;
  }
}
